<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RO Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- custom CSS -->
<link rel="stylesheet" href="{% static 'RO_log/main.css' %}">
  </head>
<body>
  {% block navblock %}
<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark fs-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">RO tracker</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
             aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'RO_log:archive_day' %}">Daily Log</a>
            <a class="nav-link active" href="{% url 'RO_log:payperiod-list' %}">Pay Periods</a>
            <a class="nav-link active" href="{% url 'RO_log:dashboard' %}">Dashboard</a>
            <a class="nav-link active" href="{% url 'RO_log:logout' %}">logout</a>
            <span class="navbar-text">
              <small>Logged in as {{request.user.username}}</small>
            </span>
            <form class="d-flex ms-3 h-50" action="{% url 'RO_log:report' %}" method="get">
              <input id='nav-search' class="form-control me-2" type="search" name="q"placeholder="Search" aria-label="Search">
            </form>
          </div>
        </div>
      </div>
    </nav>
</div>
{% endblock %}

{% block content %}

{% endblock %}

  </body>
</html>
