<!DOCTYPE html>
{% extends 'RO_log/Base.html'%}
{% load crispy_forms_tags %}

{% block navblock %}
{% endblock %}

{% block content %}
  <body>
    <div class="Roform">
      <div class="d-flex justify-content-center">
          <div class="col-4">
            <form method="POST" class="post-form">
              <h1>Login</h1>
              {% csrf_token %}
              {{form|crispy}}
              <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn rounded-pill">Login</button>
              </div>
              <p><small>not a member? click <a href="{% url 'RO_log:signup' %}">here</a> to sign up!</small></p>
            </form>
          </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
